/**
 * Creation Date: January 26, 2020
 * Author: Gillian Pierce
 * Defines the styles used in the dashboard components
 */
.column-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.column-container-space-around {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.row-container {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: space-evenly;
}

.parent {
  width: 70vmin;
  height: 50vmin;
}

.button {
  display: flex;
  float: left;
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  padding: 3 5 3 5;
  font-size: small;
  outline: 0;
}

.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: transparent;
  text-align: center;
  transition: all 0.2s;
  font-size: medium;
}

.active-button {
  background-image: linear-gradient(to right, #45b649, #a8e063);
  color: white;
}

.active-button svg {
  stroke: white;
  fill: white;
}

.active-button span {
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

.chart-text {
  font: 16px/1.4em "Montserrat", Arial, sans-serif;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis {
  font-size: x-small;
  font-family: "Roboto";
}

.label {
  font-size: small;
  font-family: "Roboto";
}

.history-chart-button svg {
  color: #45b649;
  padding: 5%;
}

.plant-button {
  margin-top: 2%;
  flex: 1 1 auto;
}

.plant-button > * {
  padding: 2%;
}

.plant-button > h2 {
  flex-grow: 1;
}

.history-chart-button,
.percent-chart-layer {
  flex: 1 1 auto;
  width: 50%;
  height: 100%;
  margin: 5%;
}

.history-chart-button > h4,
.percent-chart-layer > h4 {
  margin-top: 0;
}

.percent-chart-layer {
  margin-left: 0;
}

.history-chart-button {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

.moisture-dashboard {
  margin-bottom: 2%;
  align-items: stretch;
}

.inline {
  white-space: nowrap;
  vertical-align: middle;
}

.unstyled {
  text-decoration: none;
}

.unstyled:focus,
.unstyled:hover,
.unstyled:visited,
.unstyled:link,
.unstyled:active {
  text-decoration: none;
  color: black;
}

.percent-card {
  margin: 5%;
}

.plant-media {
  flex-shrink: 0;
  width: 25%;
  padding-top: 30%;
  margin-left: auto;
  margin-right: auto;
}

.no-wrap {
  white-space: nowrap;
}

.tabs {
  margin-bottom: 2%;
}

.moon {
  transform: rotate(180deg);
  padding: 5%;
  margin: 5%;
}

.sun {
  padding: 5%;
  margin: 5%;
}
