.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-start;
  /* background-image: linear-gradient(to right, #56ab2f, #a8e063); */
  background-color: #45b649;
}

.item {
  display: flex;
  align-items: center;
}

.logo {
  margin: 2%;
}

.item-center {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Set the middle element to grow and stretch */
  margin-left: 2%;
}

@font-face {
  font-family: "Cunia";
  src: url("Cunia-webfont.eot");
  src: url("Cunia-webfont.eot?#iefix") format("embedded-opentype"),
    url("Cunia-webfont.woff2") format("woff2"),
    url("Cunia-webfont.woff") format("woff"),
    url("Cunia-webfont.ttf") format("truetype"),
    url("Cunia-webfont.svg#Cunia") format("svg");
  font-weight: normal;
  font-style: normal;
}

.app-name {
  /* font-family: "Cunia"; */
  color: white;
}
